<%= stylesheet_link_tag "home.css" %>


<section class="one">
        <div class="left">
            <h2>Your Partner in Health and Wellness</h2>
            <p>It is a long established facts that a reader will bbe distracted here!</p>
            <button class="btn-1">BOOK AN APPOINTMENT</button>
        </div>
        <div class="right">
        <%= image_tag("doc-removebg-preview.png", alt: "Description of the image") %>

        </div>
    </section>


    <section class="two">
        <div class="service">
            <h3>Our Healthcare Service</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia, praesentium incidunt eius sed numquam culpa officiis voluptate rerum, ipsam nisi tenetur dolore soluta nihil dolor veritatis, cum dolores at!</p>
        </div>

        <div class="features">
            <div class="card">

                    <%= image_tag("ambulance.png", alt: "Description of the image") %>

    
                <div class="features-content">
                    <h6>Emergency Department</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>


            <div class="card">

                    <%= image_tag("child.png", alt: "Description of the image") %>

    
                <div class="features-content">
                    <h6>Pediatric Department</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>


            <div class="card">
            <%= image_tag("gadjet.png", alt: "Description of the image") %>

    
    
                <div class="features-content">
                    <h6>General physician</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="card">

    
                    <%= image_tag("gadjet.png", alt: "Description of the image") %>

                <div class="features-content">
                    <h6>Neurology Department</h6>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            
        </div>
    </section>